.item-container {
  border: 1px solid #7777;
  border-radius: 16px;
  background-color: white;
  margin-bottom: 2rem;
}

.title-container {
  background: #7695ec;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 1rem;
  color: white;
}

.username-time-container {
  color: #777777;
  margin-top: 1rem;
}

.content-container {
  margin-top: 1rem;
}

.icon {
  max-width: 50px;
  cursor: pointer;
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 8px;

  &:hover {
    text-decoration: underline;
  }
}

.cancel-btn {
  background-color: transparent;
  color: black;
  border-color: black;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  border-width: 0.1rem;

  &:hover {
    text-decoration: underline;
  }
}

.save-btn {
  background-color: green;
  color: white;
  border: none;
  padding: 0.5rem 2.5rem;
  border-radius: 8px;

  &:hover {
    text-decoration: underline;
  }
}

.save-disabled-btn {
  background-color: #777777;
  color: white;
  border: none;
  padding: 0.5rem 2.5rem;
  border-radius: 8px;
}
