.item-container {
  border: 1px solid #7777;
  border-radius: 16px;
  background-color: white;
  margin-bottom: 2rem;
}

.title-container {
  background: #7695ec;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 1rem;
  color: white;
}

.username-time-container {
  color: #777777;
  margin-top: 1rem;
}

.content-container {
  margin-top: 1rem;
}
